<!-- 
<div class="container">
    <div id="boxhome" class="text-center">
        <div class="quotes">
            <h3>HEY, WHAT'S UP?  HOW'S BUSINESS?</h3><br><br>
            <h3>YOU KNOW WHAT,</h3><br><br>
            <h3>LET ME HELP YOU DIGITALIZE IT!</h3><br><br>
            <h3>UPGRADE YOUR BUSINESS</h3><br><br>
            <h3>TO THE NEXT LEVEL NOW!</h3><br><br>
        </div>
        <div class="images">
            <img src="assets\images\firstimage.jpg">
        </div>
    </div>
    <div class="service">
        <h2>OUR SERVICES</h2>
    </div>
    <img id="serviceimg" src="assets\images\services.jpg">
    <div id="box" class="text-center">
        <div class="leftbox">
            <img src="assets\images\aboutus.jpg">
        </div>
        <div class="rightbox">
            <h1>ABOUT US</h1>
            <p id="aboutuspara">GET YOUR BRAND LAUNCHED ONLINE WITH US DAMARAM. 
                WE WILL MAKE YOU HEARD FOR WE MAKE A LOT OF NOISE WHEN HIRED! 
                LET IT BE A BLOG FOR YOUR PROFILE OR CREATING AN ONLINE PRESENCE FOR YOUR BUSINESS YOU WILL UP IN NO TIME.
                REACH OUT TO THE WORLD AND SHOW YOURSELF FOR THE GEM YOU ARE. 
                PACKED AND ARMED WITH THE BEST PRICES AND SERVICES WE ARE WAITING FOR YOUR CALL!</p>
        </div>
    </div>
</div> -->


<section id="home">
    <div class="row mt-lg-0 pt-lg-0">
      <div class="col-lg-6 col-md-6 col-12  order-1" id="leftquotes">
        <p>
          HEY, WHAT'S UP?  HOW'S BUSINESS?<br>
          YOU KNOW WHAT,<br>
          LET ME HELP YOU DIGITALIZE IT!<br>
          UPGRADE YOUR BUSINESS<br>
          TO THE NEXT LEVEL NOW!
        </p> 
      </div>
      <div class="col-lg-6 col-md-6 col-12 py-lg-0 py-3 order-sm-2" id="rightimg">
        <img src="assets\images\final.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </section>
  
  
  <section id="aboutus">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12" id="leftimg">
        <img src="assets\images\aboutus.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-lg-6 col-md-6 col-12 px-sm-3" id="rightabout">
        <h1>ABOUT US</h1>
        <p>GET YOUR BRAND LAUNCHED ONLINE WITH US DAMARAM. 
          WE WILL MAKE YOU HEARD FOR WE MAKE A LOT OF NOISE WHEN HIRED! 
          LET IT BE A BLOG FOR YOUR PROFILE OR CREATING AN ONLINE PRESENCE FOR YOUR BUSINESS YOU WILL UP IN NO TIME.
          REACH OUT TO THE WORLD AND SHOW YOURSELF FOR THE GEM YOU ARE. 
          PACKED AND ARMED WITH THE BEST PRICES AND SERVICES WE ARE WAITING FOR YOUR CALL!</p>
      </div>
      </div>
    </div>
  </section>
  
  <section id="services">
    <div class="services-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-content text-center">
              <h1>OUR SERVICES</h1>
              <p class="size">
                Damaram is a web service provider offering many services such as web application development, 
                mobile application development, software development and, other minor services like logo designing, 
                social media marketing, content creation, etc. The website lands and manages clients. 
                It provides services to create a strong technical and online presence for an individual or a business.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 my-sm-0">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image1.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Web Designing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image2.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">App Development</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image3.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Logo Designing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image4.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Social Media Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image5.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Email Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 "> 
            <div class="card">
              <div class="inner">
                <img src="assets\images\image6.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Content Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn mb-lg-4" routerLink="/login">Book Now</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  
  
  <div id="contactform">
  <section id="contact">
  <div class="container-fluid pb-2">
    <h2 class="h1-responsive font-weight-bolder text-center" id="contactus">CONTACT US</h2>
    <p class="text-center w-responsive col-lg-12 col-md-6 col-sm-12 my-lg-5 px-lg-5" id="para">Do you have any questions? Please do not hesitate to contact us directly.<br> Our team will come back to you within
        a matter of hours to help you.</p>
  
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0 ml-5 mr-sm-5" id="text">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">NAME</label>
                        </div>
                      </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0 ml-5 mr-sm-5" id="text">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">EMAIL</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 ml-5 mr-sm-5" id="text">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">SUBJECT</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="md-form ml-5 mr-sm-5" id="text">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">MESSAGE</label>
                      </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <a class="btn btn-primary ml-5" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Chennai, CA 94126, India</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 91 81899-04358</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>admin@damaram.com</p>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  </div>
  
  <section id="footer">
    <div class="social text-center">
      <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-primary" style="background-color: #f50669;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-primary" style="background-color: #d41a02;" href="#!" role="button"><i class="fab fa-google"></i></a>
      <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
    </div>
    <ul class="list text-center">
      <li><a href="#">HOME</a></li>
      <li><a href="javascript: document.getElementById('aboutus').scrollIntoView(true);">ABOUT US</a></li>
      <li><a href="javascript: document.getElementById('services').scrollIntoView(true);">SERVICES</a></li>
      <li><a href="javascript: document.getElementById('contactform').scrollIntoView(true);">CONTACT</a></li>
    </ul>
    <p class="copyright text-center font-weight-bolder pb-2">
      Damaram @ 2021
    </p>
  </section>
  
