<div class="sidebar">
    <!-- <a class="active" href="javascript: document.getElementById('profile').scrollIntoView(true);">PROFILE</a> -->
    <a routerLink="/userhome">PROFILE</a>
    <a routerLink="/services">SERVICES</a>
    <a routerLink="/userorders">ORDERS</a>
    <a routerLink="/home">SIGNOUT</a>
</div>

<div class="content">
<section id="services">
    <div class="services-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-content text-center">
              <h1>OUR SERVICES</h1>
              <p class="size">
                Damaram is a web service provider offering many services such as web application development, 
                mobile application development, software development and, other minor services like logo designing, 
                social media marketing, content creation, etc. The website lands and manages clients. 
                It provides services to create a strong technical and online presence for an individual or a business.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 my-sm-0">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image1.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title" value="Web Designing">Web Designing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image2.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">App Development</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image3.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Logo Designing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image4.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Social Media Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 ">
            <div class="card">
              <div class="inner">
                <img src="assets\images\image5.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Email Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 mb-lg-7 mb-5 "> 
            <div class="card">
              <div class="inner">
                <img src="assets\images\image6.jpg" class="img-fluid" alt="Responsive image"> 
              </div>
              <div id="pt-3" class="card-body">
                <h3 class="card-title">Content Marketing</h3>
                <p>click the button below to order this service...</p>
                <button type="button" class="btn mb-lg-4" routerLink="/requirementform">Order Now</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  </div>