<div class="sidebar">
  <a routerLink="/adminhome">PROFILE</a>
  <a routerLink="/users">USERS</a>
  <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div> -->
  <a routerLink="/orders">ORDERS</a>
  <a routerLink="/home">SIGNOUT</a>
</div>

<!-- <div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
  <button class="dropdown-btn">Dropdown
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <a href="#contact">Search</a>
</div> -->

<div class="content">
  <section id="profile">
    <div class="col-lg-12 col-md-12 col-sm-12 py-5" id="profileid">
      <div class="flip-card col-md-12 col-sm-12 mx-auto">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets\images\profile.png" class="img-fluid" alt="Avatar" style="width:500px;height:500px;">
          </div>
          <div class="flip-card-back">
            <div class="details">
              <h1>Admin</h1>
              <p>Welcome Admin! Now you can manage this website</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>